<header class="hero-unit" id="banner">
  <div class="row">
    <label>
      <h1>Plan Builder: {{ heading }}</h1>
    </label>
  </div>
</header>
<br>
<div class="container-fluid">
  <div class="row-fluid">

    <!--Sidebar content-->
    <div class="col-sm-2" style="max-width:220px;">
      <ul class="nav nav-pills nav-stacked" style="min-width:120px;">
        <!-- TODO: Make links disabled until previous sections are completed (allow user to go back and forth between completed sections and the one they're currently working on) -->
        <li role="presentation"
            ui-sref-active="active"
            ng-repeat="section in sections"
            ng-class="{ 'disabled': !stateEnabled(section.state) }">
          <a ng-click="goToState(section.state)">
            <span ng-class="{ 'glyphicon glyphicon-ok': stateComplete(section.state) }" style="color:green; padding-right:4px;"></span>
            {{ section.text }}
          </a>
        </li>
      </ul>
    </div>

    <!--Body content-->
    <div class="col-sm-10">
      <div ui-view></div>
    </div>

  </div>

</div>

<!-- Plan builder navigation and progress bar -->
<div class="container">
  <center>

    <!-- Get started options -->
    <a ng-click="" class="btn btn-lg btn-default disabled" ng-show="currentState === 'plan-builder.start'">
      Link with Mint.com
    </a>
    <a ng-click="gotonext()" class="btn btn-lg btn-default" ng-show="currentState === 'plan-builder.start'">
      Get started with Plan Builder
    </a>

    <!-- Navigation page buttons -->
    <a ng-click="gotoprevious()" class="btn btn-lg btn-default" ng-show="currentState !== 'plan-builder.start'">
      <i class="fa fa-chevron-left" style="margin-right:8px;"></i>
      Previous
    </a>
    <a ng-click="gotonext()" class="btn btn-lg btn-default" ng-show="currentState !== 'plan-builder.goals' && currentState !== 'plan-builder.start'">
      Next
      <i class="fa fa-chevron-right" style="margin-left:8px;"></i>
    </a>
    <a class="btn btn-lg btn-default" ng-show="currentState === 'plan-builder.goals'">
      Submit
    </a>
    <br><br>

    <div class="progress progress-striped active" style="width:50%">
      <div class="progress-bar" style="width: {{progress}};"></div>
    </div>
  </center>

  <button ng-click="save()" class="btn btn-lg btn-default pull-right" ng-show="currentState !== 'plan-builder.start'">
    Save Progress
  </button>

</div>
