.question-search-title {
}

.question-rating {
  color: gray;
  display: inline-block;
  width: 50px;
}

.question-replies {
  color: gray;
  display: inline-block;
  font-style: italic;
  float: right;
}

.sidebar {
  .heading {
    font-size: 20px;
    padding: 16px 0px 0px;
  }
}
