<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Ask an Advisor</h1>
    <p class="lead">
      Search questions or post a new question for advisors to discuss.
    </p>
  </div>
</header>

<div class="container-fluid">
  <div class="row-fluid">

    <!-- Sidebar -->
    <div class="col-sm-2 sidebar">
      <ul class="nav nav-pills nav-stacked">

        <li class="heading">Keywords</li>
          <input type="text"
                 class="form-control"
                 placeholder="Search questions"
                 ng-model="keywords"
                 ng-enter="searchByKeyword()" />
        <li></li>

        <li class="heading">Categories</li>
        <li role="presentation" ng-repeat="category in categories">
          <input type="checkbox"/>
          {{ category }}
        </li>
        <li></li>

        <li class="heading">Links</li>
        <li role="presentation">
          <a ui-sref="forum.search" ng-click="defaultView()">Most Popular</a>
        </li>
        <li role="presentation">
          <a ui-sref="forum.search" ng-click="displayMyQuestions()">My Questions</a>
        </li>
        <li role="presentation">
          <a ui-sref="forum.search" ng-click="displayStarredQuestions()">Starred Questions</a>
        </li>
        <li role="presentation">
          <a ui-sref="forum.search" ng-click="askNewQuestion()">Ask New Question</a>
        </li>

      </ul>
    </div>

    <!-- Main Content -->
    <div class="">
      <!-- TODO: Navbar to show current view, default views, etc.  -->
    </div>

    <div class="col-sm-10" style="margin-top: 16px">
      <div ui-view></div>
    </div>

  </div>
</div>
