<ul class="nav nav-tabs nav-stacked" ng-repeat="question in currentQuestions | orderBy:'-rating'">
  <li>
    <a href="#" ng-click="viewQuestion(question)">
      <div class="question-rating">{{ question.rating }}</div>
      <span class="question-search-title">{{ question.text }}</span>
      <div class="question-replies">{{ question.comments.length }} answers</div>
    </a>
  </li>
</ul>
<br>
<form class="question-form" ng-show="user.isAdvisor === false">
  <label>Can't find your question? Ask it here!</label>
  <p class="input-group">
    <input type="text" class="form-control" placeholder="Enter your question here" ng-model="newQuestion">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-click="addQuestion()">Submit Question</button>
    </span>
  </p>
</form>
