<header class="hero-unit" id="banner">
  <div class="container">
    <label>
      <!-- TODO: Make the title dynamic depending on the view -->
      <h1>Dashboard</h1>
    </label>
  </div>
</header>

<div class="container-fluid">
  <div class="row-fluid">

    <!--Sidebar content-->
    <div class="col-sm-2">
      <h2>Sidebar</h2>
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" ui-sref-active="active" ng-repeat="item in sidebar">
          <a ui-sref="{{item.link}}" ng-click="showSubmenu(item)">{{ item.title }}</a>
          <!-- TODO: If screen size is small, use the item.icon instead and shrink the sidebar to icons only -->
          <ul ng-show="item.submenu.visible" class="nav submenu">
            <li ng-repeat="sub in item.submenu" class="item">
              <a href="" ng-click="setPlanView(sub, item.submenu)" ng-class="{ active: sub.active }">{{ sub.title }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!--Body content-->
    <div class="col-sm-10">
      <div ui-view></div>
    </div>

  </div>

</div>
