<!-- For multi-question slides -->

<div ng-repeat="item in query.subqueries"
     ng-show="isShown(item)">
  <label>{{ item.question }}</label>
  <!-- TODO: For select, checkbox, radio, button, table, multi, and review questions -->
  <!-- <div
    ng-if = "['select','checkbox','radio','button','table','multi','review'].indexOf(item.type) !== -1"
    query = "item"
    ng-include = "'components/questions/views/'+item.type+'Template.html'">
  </div> -->

  <!-- For select option questions -->
  <select ng-if="item.type === 'select'"
          ng-model="plangroup[item.bind]"
          class="dropdown"
          ng-required="item.required">
    <option ng-repeat="option in item.options"
            ng-value="getOptionValue(option)"
            class="item"
            ng-selected="option.value === plangroup[item.bind] || option === plangroup[item.bind]">
            {{ option.text || option }}
    </option>
  </select>

  <!-- For table entry questions -->
  <div ng-if="item.type === 'table'">
    <form class="">
      <table>

        <!-- Build column headers -->
        <tr>
          <th ng-repeat="field in item.fields"
              style="text-align:{{field.textAlign}}">
            <label>{{ field.label }}</label>
          </th>
          <th></th> <!-- Spaceholder for row delete button -->
        </tr>

        <!-- Load existing items if present -->
        <tr ng-repeat="subitems in plangroup[item.bind]">
          <td ng-repeat="field in item.fields" style="padding-right:8px;">
            <input ng-model="plangroup[item.bind][$parent.$index][field.value]"
                   type="{{field.type}}"
                   class="form-control"
                   style="margin:4px auto; text-align:{{field.textAlign}}"
                   ng-required="{{field.required}}"
                   ng-required="item.required" />
          </td>
          <td>
            <button class="btn"
                    style="padding:2px 4px;"
                    ng-click="deleteRow($index, item.bind)">
                    <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </table>
    </form><br>

    <!-- Allow new items to be added -->
    <button class="btn btn-primary"
            ng-click="addRow(item.bind)">
            Add More
    </button>
  </div> <!-- End of table objects -->

   <!-- For everything else -->
   <input ng-if="['select','checkbox','radio','button','table','multi','review'].indexOf(item.type) === -1"
          type="{{item.type}}"
          ng-model="plangroup[item.bind]"
          ng-required="item.required" />
  <br><br>
</div>
