.imgBkg {
  padding: 15px;
  height: 200px;
  /*background-color: #fff;*/
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.showcase-catalog {
  position: absolute;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  padding-right: 30px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-top: 50px;
  margin-top: 0px;
}

.centerImg {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.minutes-filter input {
  width: 50px;
}
