<div class="questionViewHeader">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" ng-click="goBack()">
      <i class="fa fa-chevron-left"></i>
    </button>
    <button type="button" class="btn btn-default" ng-click="starQuestion()">
      <i class="fa" ng-class=" !!user.starredQuestions[currentQuestion._id] ? 'fa-star' : 'fa-star-o' "></i>
    </button>
  </div>
  <h2>{{ currentQuestion.text }}</h2>
</div>
<hr>
<div class="questionViewComments">
  <div ng-repeat="comment in currentQuestion.comments" class="comment">
    <!-- Upvote/downvote buttons -->
    <div class="rating">
      <div>{{ comment.rating }}</div>
    </div>
    <div class="btn-group-vertical buttons" role="group">
      <button type="button" class="btn btn-default" ng-click="upVote(comment)">
        <i class="fa fa-thumbs-o-up"></i>
      </button>
      <button type="button" class="btn btn-default" ng-click="downVote(comment)">
        <i class="fa fa-thumbs-o-down"></i>
      </button>
    </div>
    <div class="body">
      <h3 class="name">{{ comment.name }}</h3>
      <span class="text">{{ comment.text }}</span>
    </div>
  </div>
  <hr>
</div>

<div class="questionViewRelated">

</div>
