#sidebar-wrapper {
  height: 1000px;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 0px; }

/* Sidebar for search filters */
.sidebar-nav {
  position: relative;
  top: 140px;
  padding: 0;
  list-style: none;
  overflow: scroll; }

.sidebar-nav li {
  font-size: 12px;
  line-height: 40px; }

.sidebar-nav li a {
  /* display: block; */
  text-decoration: none;
  color: #999;
  /* padding-left: 30px; */
  padding-right: 30px; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #e2e2e2;
  background: #000; }

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  font-size: 18px; }

.sidebar-nav > .sidebar-brand a {
  color: #000; }

.sidebar-nav > .sidebar-brand a:hover {
  cursor: default;
  color: #999999;
  background: none; }

.narrowMargin {
  margin: 0px; }

/*facet filter styling*/
.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: #999; }

.facet-list {
  list-style: none;
  padding-left: 0px; }

.facet-title {
  padding-left: 0px;
  font-weight: bold; }

.show-more-link {
  text-decoration: underline !important; }

.duration-filter input {
  width: 50px;
  height: 30px; }

.duration-filter {
  font-size: 22px !important;
  line-height: 30px !important; }
